@use '../../../style/mixins.scss' as *;

.collection-item {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    padding: var(--space-m);
    border: 2px solid var(--background-light);
    border-radius: .8rem;
    background: var(--background-light);
    transition: all .3s;

    @include desktop {
        width: initial;
        max-width: calc(100% / 3 - 1rem);
    }

    &:has(.collection-item__media) {
        @include mobile {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    @media (hover: hover) {
        &:hover {
            border-color: var(--hover);
            scale: 1.05;
            box-shadow: 0 0 10px 0 var(--hover);
            cursor: default;
        }
    }

    &__media {
        display: block;
        height: 40px;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
    }

    &__description {
        text-wrap: anywhere;
    }
}