.text {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding-bottom: var(--space-l);
    border-bottom: 1px solid var(--border-color);

    &:not(:first-child) {
        padding-top: 1rem;
    }
}