* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, serif;
    color: #ffffff;
    background: linear-gradient(135deg, rgb(21 19 18 / 100%) 0%, rgb(48 44 42 / 100%) 100%);
}