h1,
.h1 {
    font-size: 5em;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
}

h2,
.h2 {
    font-size: 3em;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;

    &--highlight {
        color: var(--secondary);
    }
}

h3,
.h3 {
    font-size: 2em;
    line-height: 1;
    font-weight: 600;

    &--highlight {
        color: var(--primary);
    }
}

p,
.p {
    font-size: 1.5em;
    line-height: 1.2;
    color: var(--paragraph);
    font-weight: 300;

    &--small {
        font-size: 1.3em;
    }
}