:root {
    --background: #0D0D0D;
    --background-light: #FFFFFF08;
    --heading-color: #FFFFFF;
    --paragraph-color: #E0E0E0;
    --accent: #00FF85;
    --hover: #FF0099;
    --linkedin: #0072b1;

    :has(#apperance-toggle:checked) {
        --background: #f9f9f9;
        --background-light: #00000008;
        --heading-color: #222222;
        --paragraph-color: #444444;
        --accent: #0074D9;
        --hover: #FF0099;
        --linkedin: #0072b1;
    }

    @media (prefers-color-scheme: light) {
        --background: #f9f9f9;
        --background-light: #00000008;
        --heading-color: #222222;
        --paragraph-color: #444444;
        --accent: #0074D9;
        --hover: #FF0099;
        --linkedin: #0072b1;

        :has(#apperance-toggle:checked) {
            --background: #0D0D0D;
            --background-light: #FFFFFF08;
            --heading-color: #FFFFFF;
            --paragraph-color: #E0E0E0;
            --accent: #00FF85;
            --hover: #FF0099;
            --linkedin: #0072b1;
        }
    }
}