@use '../../style/mixins.scss' as *;

.layout {
    position: relative;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: var(--space-l);
        max-width: 1140px;
        height: 100%;
        margin: 0 auto;
        padding: var(--space-l) 2rem;

        @include desktop {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: var(--space-xxl);
            padding: var(--space-xxxl) 0;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: var(--space-xxl);
        position: relative;

        &--center {
            grid-column: 1 / -1;
        }
    }
}